rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && request.auth.token.isAdmin == true;
    }

    match /cats/{catId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    match /adoptionApplications/{applicationId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
  }
}
